body{
font-family: sans-serif;
}
table, tr, th, td {
    border: 2px solid ;
    background: yellow;
    border-collapse: collapse;
}
table{
    width: 100%;
    text-align: center;
}
th{
    color: white;
    background-color: rgba(0, 0, 255, 0.804);
    border: 1px solid black;
    height: 28px;
}
h3{
    text-align: center;
    color: whitesmoke;
    background-color: rgba(0, 0, 255, 0.874);
    padding: 8px;
    border-radius: 50px;
}
h4{
    margin-left: 2%;
}
#website{
    background-color: aquamarine;
    padding: 7px;
    display: inline-block;
    margin-left: 50%;
    border-radius: 5px;
    transition: .3s;
}
#website:hover{
    background-color: rgb(234, 225, 99);
    transition: .4s;
    color: blue;
}
a{
    text-decoration: none;   
}


a:visited{
    background-color: darksalmon;
    color: black;
}